body {
    border: 8px solid #000;
    margin: 0;
}

.topnav {
  overflow: hidden;
  font-family: 'Lato';
  font-weight: 900;
  color: black;
  padding-right: 2em;
}


.topnav a {
  margin-top: 1em;
  margin-right: 1em;
  float: right;
  display: block;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.topnav a:hover {
  /*background-color: #ddd;
  color: black; */
  text-decoration: underline;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.optionButton {
  padding: 1em 1em;
  margin: 1em;
}

#characterStats {
  display: none;
  border: 8px solid #000;
  margin: 0;
  padding: 1em 1em;
}
